<%- include('header') %>


<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-0-0">
    <div id="contentContainer" class="container">
        <div class="row justify-content-center mt-30 mb-30">
            <!-- Post Details Content Area -->
            <div class="col-lg-8">
                <div class="">
                    <div class="post-details-content">
                        <!-- Start Boost Form -->
                        <div class="container">
                            <div class='container checkout hidden'>
                                <div class="checkout-content">
                                    <div>
                                        <button type="button" class="close exit-button" onclick="hideCheckout()"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="choose-booster">
                                        <h2>Choose Your BOOSTER</h2>
                                        <hr />
                                        <div class="container-fluid">
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner row w-100 mx-auto">
                                                    <div class="carousel-item col-md-4 active">
                                                        <div class="card">
                                                            <img class="card-img-top"
                                                                src="./img/bg-img/header_overwatch.png"
                                                                alt="Card image cap">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Yazan</h4>
                                                                <p class="card-text">
                                                                    Famous streamer and booster, one of overwatch's top
                                                                    500
                                                                    players.
                                                                </p>
                                                                <button name="booster_choose_btn"
                                                                    option="overwatch_booster_yazan"
                                                                    class="btn btn-primary">Choose</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item col-md-4">
                                                        <div class="card">
                                                            <img class="card-img-top"
                                                                src="./img/bg-img/header_overwatch.png"
                                                                alt="Card image cap">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Decoy</h4>
                                                                <p class="card-text">
                                                                    A trusted booster and a top 500 jordanian player.
                                                                </p>
                                                                <button name="booster_choose_btn"
                                                                    option="overwatch_booster_decoy"
                                                                    class="btn btn-primary">Choose</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-12 text-center mt-4">
                                                            <a class="btn btn-outline-secondary slider-colors mx-1 prev"
                                                                href="javascript:void(0)" title="Previous">
                                                                <i class="fa fa-lg fa-chevron-left"></i>
                                                            </a>
                                                            <a class="btn btn-outline-secondary slider-colors mx-1 next"
                                                                href="javascript:void(0)" title="Next">
                                                                <i class="fa fa-lg fa-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button onclick="continueCheckout();"
                                            class="btn checkout-button">Continue</button>
                                    </div>
                                    <%- include('continue_checkout') %>
                                </div>
                            </div>
                            <div class="boost_form overwatch_colors">
                                <div class="justify-content-center">
                                    <img src="img/bg-img/header_overwatch.png" width="100%" height="50%" />
                                </div>

                                <div class="boost_nav_bar_img"
                                    style="background-image:url('img/bg-img/nav_overwatch.png');">
                                    <div class="col-12">
                                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active show" id="levels-tab" data-toggle="tab"
                                                    href="#levels" role="tab" aria-controls="levels"
                                                    aria-selected="true">levels</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="rank-tab" data-toggle="tab" href="#rank"
                                                    role="tab" aria-controls="rank" aria-selected="false">Rank</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="placement-tab" data-toggle="tab"
                                                    href="#placement" role="tab" aria-controls="placement"
                                                    aria-selected="false">Placement</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <!-- Content -->
                                <div class="content boost_content_img"
                                    style="background-image:url('img/bg-img/overwatch_boost_wallpaper.png');">
                                    <div class="form_content  d-flex flex-column justify-content-center ">
                                        <form action="" onsubmit="return false;" class="tab-content">
                                            <!-- levels -->
                                            <div class="tab-pane fade show active" id="levels" role="tabpanel"
                                                aria-labelledby="levels-tab">
                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Platform
                                                    </div>
                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <select class="form-select">
                                                            <option>PS4</option>
                                                            <option>Xbox</option>
                                                            <option>PC</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Number Of Levels
                                                    </div>

                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <input id="overwatch_levels" class="custom_number_slider"
                                                            type="number" value="1" min="1" max="100" step="1" />
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End levels -->

                                            <!-- rank -->
                                            <div class="tab-pane fade" id="rank" role="tabpanel"
                                                aria-labelledby="rank-tab">
                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Platform
                                                    </div>
                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <select class="form-select">
                                                            <option>PS4</option>
                                                            <option>Xbox</option>
                                                            <option>PC</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Rank Type
                                                    </div>
                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <select class="form-select">
                                                            <option>6v6</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Current Skill Rating
                                                    </div>

                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <input id="overwatch_rank_c" class="custom_number_slider"
                                                            type="number" value="0" min="0" max="4400" step="100" />
                                                    </div>

                                                </div>

                                                <div class="p-2">
                                                    <div class="form-text" id="#d_skill">
                                                        Desired Skill Rating
                                                    </div>

                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <input id="overwatch_rank_d" class="custom_number_slider"
                                                            type="number" value="100" min="100" max="4500" step="100" />
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End rank -->

                                            <!-- Placement -->
                                            <div class="tab-pane fade" id="placement" role="tabpanel"
                                                aria-labelledby="placement-tab">
                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Platform
                                                    </div>
                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <select class="form-select">
                                                            <option>PS4</option>
                                                            <option>Xbox</option>
                                                            <option>PC</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Rank Type
                                                    </div>
                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <select class="form-select">
                                                            <option>6v6</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Previous Season Rank
                                                    </div>
                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <select class="form-select" id="overwatch_prev_rank">
                                                            <option value="1">Unranked</option>
                                                            <option value="2">Bronze</option>
                                                            <option value="3">Silver</option>
                                                            <option value="4">Gold</option>
                                                            <option value="5">Platinum</option>
                                                            <option value="6">Diamond</option>
                                                            <option value="7">Master</option>
                                                            <option value="8">Grand Master</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="p-2">
                                                    <div class="form-text">
                                                        Number Of Matches
                                                    </div>

                                                    <div class="p-2 col-md-6 mx-auto">
                                                        <input id="overwatch_placement" class="custom_number_slider"
                                                            type="number" value="1" min="1" max="10" step="1" />
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End Placement -->

                                            <!-- Price -->
                                            <div class="p-2">
                                                <h2 class="form-text">
                                                    Price
                                                </h2>
                                                <div class="form-price overwatch_price">
                                                    $<span id="price">0.00</span>
                                                </div>
                                            </div>
                                            <!-- End Price -->

                                            <div class="p-2 mt-50 col-md-6 mx-auto">
                                                <button class="btn egames-btn w-100" onclick="checkout();">
                                                    Check Out
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Boost Form -->

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col">
                <!-- Single Widget Area -->
                <div class="d-flex justify-content-center mt-1">
                    <div class="container">
                        <!-- Start Widgets area -->
                        <%- include('reviews_widget') %>
                        <!-- End Widgets area -->
                    </div>
                </div>
            </div>
        </div>

        <!-- photos section -->
        <!-- <div class="row mt-50">
                    <div class="col-4">
                        <img src="img/bg-img/25.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/bg-img/26.jpg" alt="">
                    </div>
                </div> -->

    </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<% include footer.ejs %>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<% include external_inc.ejs %>



</body>

</html>