<%- include('header') %>

<!-- ##### Articles Area Start ##### -->
<section class="latest-articles-area pt-5 bg-img bg-pattern bg-fixed" style="background-image: url(img/bg-img/5.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="mb-100">
                    <!-- Title -->
                    <h2 class="section-title mb-70 ">Games We Boost</h2>

                    <!-- *** Single Articles Area *** -->
                    <div class="single-articles-area style-2 d-flex flex-wrap mb-30">
                        <div class="article-thumbnail">
                            <a href="boost_fortnite"><img src="img/bg-img/game1.png" alt=""></a>
                        </div>
                        <div class="article-content">
                            <a href="boost_fortnite" class="post-title">Fortnite</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Battle Pass & Wins & Arena</a><br />
                                <a href="#" class="post-comments">Expert boosting!</a>
                            </div>
                            <p>If you are here, you already know what Fortnite is! Here in BoostArabia we will help you overcome 
                                any difficulty with the game. From battle pass boosting to arena boosting .. all is HERE :)
                            </p>
                            <br />
                            <a href="boost_fortnite"><button class="fortnite_colors btn egames-btn w-100"
                                    type="submit">Boost Now!</button></a>
                        </div>
                    </div>



                    <!-- *** Single Articles Area *** -->
                    <div class="single-articles-area style-2 d-flex flex-wrap mb-30">
                        <div class="article-thumbnail">
                            <a href="boost_overwatch"><img src="img/bg-img/game2.png" alt=""></a>
                        </div>
                        <div class="article-content">
                            <a href="boost_overwatch" class="post-title">Overwatch</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Level & Competative Rank & Placement</a><br />
                                <a href="#" class="post-comments">Expert boosting!</a>
                            </div>
                            <p>Overwatch is getting more and more competative. If you need to level up faster or rank up higher in comp or
                                even if you're too lazy to play season placement games, we are here for you :)
                            </p>
                            <br />
                            <a href="boost_overwatch"><button class="btn egames-btn w-100 overwatch_colors"
                                    type="submit">Boost Now!</button></a>
                        </div>
                    </div>

                    <!-- *** Single Articles Area *** -->
                    <div class="single-articles-area style-2 d-flex flex-wrap mb-30">
                        <div class="article-thumbnail">
                            <a href="boost_apex"><img src="img/bg-img/game3.png" alt=""></a>
                        </div>
                        <div class="article-content">
                            <a href="boost_apex" class="post-title">Apex Legends</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Battle Pass & Wins & Kills</a><br />
                                <a href="#" class="post-comments">Expert boosting!</a>
                            </div>
                            <p>Apex Legends is not an easy game. If you want to show off, you need high kill count and a lot of wins .. we
                                are here to help with that :)
                            </p>
                            <br />
                            <a href="boost_apex"><button class="btn egames-btn w-100 apex_colors" type="submit">Boost
                                    Now!</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <!-- Title -->
                <h2 class="section-title mb-70 ">This week’s deal</h2>

                <!-- Single Widget Area -->
                <div class="single-widget-area add-widget ">
                    <a href="#"><img src="img/bg-img/add.png" alt=""></a>
                    <!-- Side Img -->
                    <img src="img/bg-img/side-img.png" class="side-img" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Articles Area End ##### -->

<!-- ##### User Reviews Area Start ##### -->
<section class="monthly-picks-area pt-5 pb-5 bg-pattern">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="left-right-pattern"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Title -->
                <h2 class="section-title mb-70 ">User Reviews</h2>
            </div>
        </div>


        <%- include('reviews_widget') %>
    </div>


</section>
<!-- ##### User Reviews Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<% include footer.ejs %>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<% include external_inc.ejs %>



</body>

</html>