<%- include('header') %>

<!-- ##### Register Area Start ##### -->
<section class="form-text bg-img bg-pattern bg-fixed pt-5 pb-5"
    style="background-color: #111111;height: -webkit-fill-available; padding-bottom: 650px;">
    <div class="container">
        <div class="success_signup">
            <h1>Signed Out Successfully!</h1>
            <p>
                Redirecting to Home page .. <br/>
            <p>

            <p style="font-size: 40px" class="success_signup">
                <a href="/"><button type="button" class="btn egames-btn col-sm-3"><strong>Home</strong></button></a>
            </p>
        </div>
        
    </div>
</section>
<!-- ##### Register Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<% include footer.ejs %>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<% include external_inc.ejs %>



</body>

</html>